<div style="width: 31%;float: left;">
    <div class="ui vertical menu">
        <a class="item" href="/perfil">
            Meu perfil
            <div class="ui label">1</div>
        </a>
        <a class="active teal item" href="/home">
            Feed
            <div class="ui teal left pointing label">51</div>
        </a>
        <a class="item" href="/dm">
            Mensagens
            <div class="ui label">1</div>
        </a>
        <a class="item" href="/amigos">
            Amigos
            <div class="ui label">1</div>
        </a>
        <a class="item" href="/comunidades">
            Comunidades
            <div class="ui label">1</div>
        </a>
        <a class="item" href="/configs">
            Configurações
            <div class="ui red label">2</div>
        </a>
    </div>
</div>