<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    .logo {
      width: 35px;
    }

</style>

<div class="ui grid" style='text-align: center; width: 110%; height: 5%; background-color: white !important; bottom: 0; color: #999; margin: 2% 0 0 -5%;'>
    <div class="column row" style="background-color: white;">
      <div class="sixteen wide column">
        <p>Todos os direitos reservados</p>
        <p>2021</p>
      </div>
    </div>
  </div>
<script>
  var socket = io('http://localhost:3333')
</script>